:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --transparent-white1: hsla(0, 0%, 100%, 0.75);
  --transparent-white2: hsla(0, 0%, 100%, 0.6);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--very-dark-blue);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  max-width: 1110px;
}
@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 345px;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.3125rem;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .card {
    min-height: 48.75rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }
}
.card__hero {
  width: 48.6486486486%;
  background: center/cover no-repeat url(/images/image-header-desktop.jpg), var(--soft-violet);
  background-blend-mode: multiply;
  border-radius: 0 0.3125rem 0.3125rem 0;
}
@media screen and (max-width: 1024px) {
  .card__hero {
    width: 100%;
    min-height: 15rem;
    background: center/cover no-repeat url(/images/image-header-mobile.jpg), var(--soft-violet);
    border-radius: 0.3125rem 0.3125rem 0 0;
  }
}
.card__contents {
  width: 51.3513513514%;
  padding: 4.5rem 7.5rem 4rem 4.5rem;
}
@media screen and (max-width: 1024px) {
  .card__contents {
    width: 100%;
    min-height: 33.75rem;
    height: 69.2307692308%;
    padding: 2.25rem 2.5rem;
  }
}
.card__header {
  font-size: 2.25rem;
  color: var(--white);
  margin-bottom: 1.75rem;
}
.card__header .accent {
  color: var(--soft-violet);
}
@media screen and (max-width: 1024px) {
  .card__header {
    font-size: 1.75rem;
  }
}
.card__main {
  font-size: 0.9375rem;
  color: var(--transparent-white1);
  margin-bottom: 4.25rem;
  line-height: 1.5625rem;
  letter-spacing: 0.2%;
}
@media screen and (max-width: 1024px) {
  .card__main {
    margin-bottom: 2.5rem;
  }
}
.card__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1024px) {
  .card__stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.card__stats .stat__value {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
}
.card__stats .stat__name {
  font-size: 0.75rem;
  font-family: "Lexend Deca", sans-serif;
  color: var(--transparent-white2);
  text-transform: uppercase;
  letter-spacing: 8%;
}
.card__stats > * + * {
  margin-left: 4rem;
}
@media screen and (max-width: 1024px) {
  .card__stats > * + * {
    margin: 0;
    margin-top: 1.75rem;
  }
}