.card {
    background-color: var(--card-background);
    color: white;
    width: calc(min(87%, 60rem));
    margin: 8.9rem auto;

    &__image {
        height: 24rem;
        background-color: var(--accent);
        border-radius: 0.5rem 0.5rem 0 0;

        .desktop-image {
            display: none;
        }

        .mobile-image {
            width: 100%;
            height: 100%;
            mix-blend-mode: overlay;
        }
    }

    &__main {
        text-align: center;
        padding: 4.4rem 3.4rem 3.6rem 3.4rem;
        border-radius: 0 0 0.5rem 0.5rem;
    }

    &__header {
        font-size: 3rem;

        .accent {
            color: var(--accent);
        }
    }

    &__body {
        font-size: 1.8rem;
        line-height: 1.5;
        color: var(--main-paragrah);
        margin-top: 2rem;
    }

    &__stats {
        display: flex;
        flex-direction: column;
        margin: 3rem auto;

        .stat {
            margin-top: 2rem;

            &__value {
                font-size: 1.9rem;
                color: var(--main-heading-stats);
                font-weight: bold;
            }

            &__label {
                font-size: 1.6rem;
                font-family: "Lexend Deca", sans-serif;
                color: var(--stat-headings);
                text-transform: uppercase;
                margin-top: 0.5rem;
            }
        }
    }

    @media (min-width: 375px) {
        margin: 5rem auto;

        &__image {
            height: 100%;

            .desktop-image {
                width: 100%;
                display: block;
                height: 100%;
                mix-blend-mode: overlay;
            }

            .mobile-image {
                display: none;
            }
        }
    }

    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        min-width: 110rem;
        height: 44.6rem;

        &__image {
            min-width: 54rem;
            height: 100%;
            flex: 1.1;
            order: 1;
            border-radius: 0 0.5rem 0.5rem 0;

            .desktop-image {
                width: 100%;
                height: 100%;
                display: block;
                mix-blend-mode: overlay;
            }

            .mobile-image {
                display: none;
            }
        }

        &__main {
            flex: 1;
            padding-top: 6.5rem;
            padding-bottom: 6.5rem;
            padding-left: 6.7rem;
            padding-right: 6.7rem;
            text-align: left;
            border-radius: 0.5rem 0 0 0.5rem;
        }

        &__header {
            font-size: 3.2rem;
        }

        &__body {
            font-size: 1.2rem;
            line-height: 1.7;
            margin-top: 4rem;
            padding-right: 7rem;
        }

        &__stats {
            font-size: 1.9rem;
            flex-direction: row;
            align-items: center;
            margin-top: 8rem;

            & > * + * {
                margin-left: 6.4rem;
            }

            &__value {
                font-size: 1.9rem;
            }

            &__label {
                font-size: 1.4rem;
            }
        }
    }
}
